html {
    min-height: 100%;
    overflow-y: scroll;
    font-size: 150%;
}

body {
    background-image: url("/img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Patrick Hand", cursive;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.navbar-brand {
    font-family: "Patrick Hand", cursive;
}

.navbar-brand {
    font-weight: bold;
}
