{% extends '__userLayout.twig' %}

{% block style %}
    <style>
        .form-confirm {
            width: 100%;
            max-width: 600px;
            padding: 15px;
            margin: auto;
        }
    </style>
{% endblock %}

{% block main %}

    <main class="form-confirm">

        <h1 class="mb-3">You forgot your username?</h1>

        <p>Enter your email below, Potot will tell you what it is!</p>

        {% if error %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endif %}

        {% if success %}

            <div class="alert alert-success">
                {{ success }}
            </div>
            <a class="w-100 mt-2 mb-2 btn btn-success" href="/login">Back to Login</a>

        {% else %}

            <form method="post" action="/forgot/password">
                <input type="hidden" name="csrf_key" value="{{ csrf.key }}">
                <input type="hidden" name="csrf_value" value="{{ csrf.value }}">
                <div class="form-floating mt-2">
                    <input name="email" type="email" class="form-control" id="email" placeholder="email" required>
                    <label for="email">Email</label>
                </div>
                <button class="w-100 btn btn-lg btn-success mt-3" type="submit">Get password</button>
            </form>

        {% endif %}

    </main>

{% endblock %}
