{% extends '__mainLayout.twig' %}
{% import '__macros/html.twig' as html %}
{% import '__macros/form.twig' as form %}

{% block main %}

    <h2 class="h5 mb-3">Update Your Password</h2>

    {% include '__commons/errors.twig' %}

    <form method="post" action="/update/password">
        {{ form.csrf(csrf) }}
        {{ form.password('password', 'New password', true) }}
        {{ form.password('confirm', 'Confirm password', true) }}
        {{ form.submit() }}
    </form>

{% endblock %}
